<div class="index-box">
  <div class="top">
    <div class="movie-1">
      <%= image_tag @poster_one %>
      <span><%= @plot_one %> </span>
    </div>
    <div class="answer-form">
      <h4>How is <span class="movie-title"><%= @title_two %></span> the sequel to <span class="movie-title"><%= @title_one %></span>?</h4>
      <%= form_for [@prompt, @post] do |f| %>
      <%= f.text_area :body, :value => nil %>
      <p><%= f.submit %></p>
      <% end %>
    </div>
    <div class="movie-2">
      <%= image_tag @poster_two %>
      <span><%= @plot_two %> </span>
    </div>
  </div>
  <div class="answers">
    <% @answers.each do |answer| %>
    <div class="answer-card">
      <p><%= link_to User.find(answer["user_id"]).username, user_path(answer["user_id"]) %> said: </p>
      <p>"<%= answer["body"] %>"</p>
      <p>Votes: <%= answer["votes"] %></p>
      <p>Vote</p>
    </div>
   <% end %>
  </div>
</div>

<% content_for :nav do %>
  <span><%= link_to "Add a post", new_prompt_post_path(@prompt) %></span>
  <span><%= link_to "Edit", edit_prompt_path(@prompt) %></span>
  <span><%= link_to "Delete", prompt_path(@prompt),
                       :data => {:confirm => "You sure?",
                                 :method => "delete"} %></span>
  <span><%= link_to "Return to prompts", prompts_path %></span>
<% end %>
