<h1><%= @user.username %></h1>
<h3><%= @user.email %></h3>
<% if @user.posts.any? %>
<h4>Here are the posts <%= @user.username %> has submitted:</h4>

<% @user.posts.each do |post| %>
  <ul>
    <li>
      <%= link_to post.body, prompt_path(post.prompt_id) %>
    </li>
  </ul>
<% end %>
<% else %>
<p>User has no prompts.</p>
<% end %>



<p><%= link_to "Return to users", users_path %></p>
