<!DOCTYPE html>
<html>
  <head>
    <title>Possible Sequel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <h1 class="headline"><span class="possible">Possible</span><span class="sequel">Sequel</span></h1>
        <div class="nav">
          <% if current_user %>
            <span><%= link_to "Sign out", '/signout' %></span>
         <% else %>
            <span><%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %></span>
         <% end %>
            <span><%= link_to "Home", '/' %></span>
            <span><%= link_to "Prompts", prompts_path %></span>
            <span><%= link_to "About", about_path %></span>
            <span><%= link_to "Contact", contact_path %></span>
            <%= yield :nav %>
        </div>
      </nav>
    </header>
    <div class="flashes">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
